.alert {
    margin-top: 20px;
    opacity: 0 !important;
}

.display-alert {
    opacity: 1 !important;
}

.card-body {
    cursor: pointer;
}

.card-body:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.card-selected {
    border: 1px solid blue;
}